<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expressssss</title>
</head>
<body>
    <header>
        <h1>Express</h1>
        <nav>
            <ul>
                <li><a href="/">Foodie</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    
</body>
</html>